[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[dev]
  port = 5173
  framework = "#custom"
  command = "npm run dev"
  autoLaunch = false
